// app global css

@font-face
  font-family OpenSans-Regular
  src url(./fonts/OpenSans-Regular.woff)
  font-weight bold

// declare a class which applies it
.my-font
  font-family 'OpenSans-Regular'
